*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.contactform{
    margin-top: 100px;
    width: 40%;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}

.main_head{
    width:100%;
    padding-left: 100px;
    font-size: 70px;
    font-weight: 700;
    margin-top: -60px;
    margin-bottom: 0px;
    font-family:'Inter', sans-serif;
}

.out{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: flex-end;
    margin-top: 50px;
}

.label {
    font-size: 30px;
    max-height: 30px;
    transition: 0.2s;
    font-weight: 500;
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    width: 80%;
    margin-bottom: -30px;
    color: var(--accent-color);
    background: none;
}

.label.yes {
    font-size: 20px;
    transition-duration: 0.2s;
    margin-bottom: 0px;
}

.input, .doit{
    width: 100%;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    font-weight: 300;
    background: none;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    outline: none;
    color: white;
}

.submit{
    width: 103%;
    margin-left: 17px;
    background: var(--primary-color);
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 17px;
    color: white;
    border-radius: 4px;
    margin-top: 60px;
}

.contact_page{
    background-color: var(--box-color);
    padding: 60px;
    width: 30%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    padding-bottom: 160px;
}

.box{
    width: 90px;
    height: 90px;
    margin-left: -100px;
    margin-top: -100px;
    background-color: var(--primary-color);
}

.info_head{
    font-size: 60px;
    margin: 30px 0px;
    width: 100%;
    text-align: center;
    background: none;
}

.info{
    background: none;
    display: flex;
    width: 100%;
    align-items: center;
}

.icon{
    background: none;
    width: 50px;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 60px;
}

.info_p{
    background: none;
    padding-top: 60px;
    width: 250px;
    font-size: large;
}

.doit::-webkit-scrollbar{
    width: 20px;
}


/* responsive */
@media (max-width: 1350px) {
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactform{
        width: 70%;
        padding: 0%;
    }

    .main_head{
        text-align: center;
        padding-left: 0px;
    }

    .input{
        width: 97%;
    }

    .doit{
        width: 97%;
    }

    .contact_page{
        width: 50%;
    }

    .submit{
        width: 100%;
        margin-left: 10px;
    }

    .icon{
        padding-left: 0px;
    }
}

@media (max-width: 750px) {

    .main_head{
        font-size: 47px;
        margin-bottom: 30px;
    }


    .out{
        height: 50px;
        margin-top: 30px;
    }

    .label{
        font-size: 25px;
        margin-bottom: -35px;
        padding-left: 5px;
    }

    .label.yes{
        font-size: 15px;
        margin-bottom: -5px;
    }

    .info{
        padding: 40px;
    }

    .input{
        font-size: 25px;
        padding: 5px;
    }

    .submit{
        padding: 10px;
    }

    .contact_page{
        padding: 0px;
        width: 80%;
        padding-bottom: 40px;
    }

    .box{
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
    }

    .info_head{
        font-size: 45px;
        margin: 20px 0px;
    }

    .info{
        width: 100%;
        padding: 0%;
        padding: 20px;
    }

    .icon{
        padding: 0px;
        width: 30px;
        padding-right: 20px;
    }

    .info_p{
        font-size: 15px;
        overflow-x: hidden;
        padding: 0%;
        width: 70%;
    }
    
}