* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
}

.in {
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
    height: 200px;
}

.top_img {
    width: 100%;
    height: 200px;
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
}

.car {
    position: absolute;
    top: 50px;
    left: 60px;
    scale: 0.9;
    background: none;
}

.contact_page {
    margin-left: 150px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 40%;
    justify-content: space-evenly;
    margin-bottom: 100px;
    background: none;
}

.info {
    display: flex;
    width: 100%;
    background: none;

}

.inte {
    margin-left: 50px;
    background: none;
}

.info_type {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: var(--accent-color);
    padding: 5px;
    font-size: 20px;
    background: none;
}

.info_p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
    background: none;
}

.icon{
    background: none;
}

.contactform {
    top: 150px;
    display: flex;
    position: absolute;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    box-shadow: #0c7808 8px 8px 10px 2px;
    right: 150px;
    width: 35%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 2px solid var(--accent-color);
    background: none;
    padding: 30px;

}

.label {
    font-size: 25px;
    max-height: 30px;
    transition: 0.2s;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    width: 80%;
    margin-bottom: -35px;
    color: var(--accent-color);
    background: none;
}

.input,
.doit {
    width: 80%;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    font-weight: 300;
    background: none;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    outline: none;
    margin-bottom: 20px;
    color: white;
}

.label.yes {
    font-size: 15px;
    transition-duration: 0.2s;
    margin-bottom: -5px;
}

.submit {
    width: 200px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 7px;
    color: var(--accent-color);
    border-radius: 15px;
    border: 2px solid var(--accent-color);
    background: none;
    margin-bottom: 30px;
}

.main_head {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 80px;
    background: none;
}

.out,
.outa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    margin-bottom: 23px;
    background: none;
}

.doit {
    height: 120px;
}

.outa {
    height: 150px;
}


/* responsive */
@media (max-width: 1350px) {
    .car {
        left: -70px;
        scale: 0.7;
        top: 200px;
    }

    .main {
        margin-bottom: 700px;
    }

    .top_img {
        opacity: 1;
    }

    .contact_page {
        margin-top: 50px;
        margin-left: auto;
        margin-right: 50px;
    }

    .contactform {
        width: 75%;
        top: 660px;
        right: 95px;
        padding: 10px;
    }

    .main_head {
        color: aliceblue;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 750px) {

    .top_img {
        width: 100%;
        object-fit: contain;
        height: auto;
    }

    .in {
        width: 100vw;
        height: 10px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
    }

    .car {
        position: relative;
        padding: 0px;
        left: 0px;
        top: 0px;
        scale: 0.5;
        width: 100%;
        height: 100%;
        margin-top: 30px;
        margin-bottom: 100px;

    }

    .contact_page {
        position: relative;
        margin: 0px;
        margin-top: -100px;
        margin-bottom: 40px;
        width: 85%;
        top: 0px;
        right: 0px;
        left: 0px;
    }

    .info_type {
        font-size: 17px;
        font-weight: 500;
    }

    .info_p {
        font-size: 15px;
        font-weight: 300;
        width: 100%;
    }

    .icon {
        scale: 0.7;

    }

    .contactform {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .main_head {
        font-size: 30px;
        margin-top: 30px;
    }

    .label {
        font-size: 20px;
        margin-bottom: -20px;
    }

    .label.yes {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .input,
    .doit {
        font-size: 17px;
        width: 70%;
    }

    .inte {
        margin-left: 10px;
    }

    .out {
        margin-bottom: 15px;
    }

    .outa {
        height: 150px;
    }

    .submit {
        font-size: 20px;
        width: 60%;
    }
}